@model BMSBT.Models.Configuration

@{
    ViewData["Title"] = "Delete Configuration";
    Layout = "~/Views/Shared/_LayoutSetup.cshtml";
}

<div class="container-fluid">
    <div class="card">
        <div class="card-header bg-danger text-white">
            <h4>Delete Configuration</h4>
        </div>
        <div class="card-body">
            <h5 class="text-danger">Are you sure you want to delete this configuration?</h5>
            <hr />
            
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Uid)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Uid)
                </dd>
                
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.ConfigId)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.ConfigId)
                </dd>
                
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.ConfigKey)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.ConfigKey)
                </dd>
                
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.ConfigValue)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.ConfigValue)
                </dd>
            </dl>
            
            <form asp-action="Delete" method="post">
                <input type="hidden" asp-for="Uid" />
                <div class="form-group">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    <a asp-action="AllConfigs" class="btn btn-secondary">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>
